.panel-body,
.patch-notes {
    font-size: 14px;
}

blockquote {
    line-height: 1.75;
    font-style: normal;
    background: linear-gradient(-45deg, transparent 46%, rgba(255, 255, 255, 0.2) 49%, transparent 51%, transparent 55%);
    background-size: 6px 6px;
    background-position: 0 0;
    margin: 1rem;
    padding: 5px 5px 5px 10px;
    border-width: 0 0 0 0.5em;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.greyed-out {
    color: grey;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 1.75rem;
}

.panel {
    border-color: #2F465D;
    border-style: solid;
    border-radius: .3em;
    border-width: 2px;
    margin: 16px;
    scroll-margin-top: calc(60px + 2px + 16px);
}

.panel-heading {
    display: block;
    background-color: #11253D;
    padding: 2px 16px 2px 16px;
    border-radius: 4px 4px 4px 4px;
}

.panel-heading:has(+ .panel-body) {
    border-radius: 4px 4px 0 0;
}

.panel-heading:has(+ .panel-body.toggle.hidden) {
    border-radius: 4px 4px 4px 4px;
}

.panel-body {
    line-height: 150%;
    margin: 16px;
}

.hidden {
  display: none !important;
}

hr {
    color: #2F465D;
    margin: 16px;
}

.svg {
    vertical-align: text-bottom;
    width: 30px;
}

.source-bar {
    display: flex;
    gap: 5px;
    float: right !important;
}

.patch-icon {
    margin-right: 6px;
}

.permalink {
    margin-left: 2px;
}

a:active {
    color: white;
}

.text-shadow {
    text-shadow:
        -1px 0 rgba(0, 0, 0, 0.5),
        0 1px rgba(0, 0, 0, 0.5),
        1px 0 rgba(0, 0, 0, 0.5),
        0 -1px rgba(0, 0, 0, 0.5);
}

body {
    color: white;
    background-color: #162C44;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.main-content {
    width: min(100vw, 100%);
    margin-bottom: -12px;  /* To keep the footer not too far from the bottom */
}

.hero-header {
    padding-top: 6px;
    padding-bottom: 5px;
}

#tab-content2,
#tab-content3 {
    width: min(95vw, 720px);
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

#tab-content1,
#tab-content4,
.panels-list,
.patch-notes {
    width: min(100vw, 984px);
    margin-left: auto;
    margin-right: auto;
}

.heroes-content {
    position: relative;
}

.main-content>.panels-list,
.main-content>.patch-notes {
    margin-top: calc(60px + 2px + 16px);
}

.patch-notes {
    padding-top: 16px;
    padding-bottom: 16px;
}

.heroes-list {
    margin-left: 16px;
    margin-right: 16px;
}

.hero-content {
    position: relative;
    top: 70px;
}

.navigation-bar {
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.left-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 34px;
}

.center-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.right-menu {
    margin-right: 34px;
}

.tabs {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    justify-content: center;
    text-align: left;
}

.tabs>.tab {
    float: left;
    display: block;
}

.tabs>.tab>label {
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tabs>.tab:not(.selected) {
    color: #78dcff;
}

.tabs>.selected {
    color: #FFF;
    background: #0090ff;
}

.tabs>.tab:not(.selected)>label:hover {
    color: #0090ff;
}

.input-box {
    width: calc(100% - 20px - 20px - 2 * 2px); /* 100% - padding-left - padding-right - 2 * border-width */
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 2px solid #0090ff;
    background-color: lightblue;
    accent-color: lightblue;
    caret-color: #0090ff;
}

.links-table {
    width: 100%;
    border: none;
    border-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}

#HeroesTable .column1 {
    width: 70px;
}

#HeroesTable .column2 {
    width: 140px;
}

#HeroesTable .column3 {
    width: 70px;
}

#HeroesTable .column4 {
    width: 210px;
}

#HeroesTable .column5 {
    width: 0px;
}

#HeroesTable .column6 {
    width: 210px;
}

#HeroesTable .column7 {
    width: 0px;
}

#BattlegroundsTable .column1 {
    width: 70px;
}

#BattlegroundsTable .column2 {
    width: 210px;
}

#BattlegroundsTable .column3 {
    width: 210px;
}

#BattlegroundsTable .column4 {
    width: 0px;
}

#BattlegroundsTable .column5 {
    width: 210px;
}

#BattlegroundsTable .column6 {
    width: 0px;
}

.links-table th,
.links-table td {
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.links-table tr {
    height: 65px;
}

.toggle-button .header,
.links-table tr.header {
    background: none !important;
    font-size: 16px;
    font-weight: bold;
    color: #78dcff;
}

.links-table tr.header>td:hover {
    color: #0090ff;
}

.links-table tr:hover {
    background: #0090ff;
}

.page-logo {
    vertical-align: middle;
    margin-right: 12px;
    margin-left: 28px;
    width:40px;
}

.user-logo {
    width: 30px;
}

.hero-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-circle {
    height: 42px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    border: 2px solid #2F465D;
}

td>.icon-circle {
    margin-top: 4px;
}

.title-card {
    display: flex;
    align-items: center;
}

.title-card .icon-circle {
    position: absolute;
    left: -10px;
    transform: translateX(-120%);
}

.affected {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.icon-square {
    height: 42px;
    border-radius: 20%;
    border: 2px solid #2F465D;
}

.icon-label {
    font-weight: bold;
    width: 92px;
    color: #78dcff;
}

.icon-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.icon-link:hover>.icon-square {
    border-color: #0090ff;
}

.icon-link:hover>.icon-label {
    color:#0090ff;
}

#BackToTop {
    position: fixed;
    bottom: 16px;
    right: 28px; /* Horizontal align with .toggle-button */
    width: 42px;
    height: 42px;
    background: url("images/icons/back-to-top.svg") no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

#BackToTop.show {
    opacity: 1;
    pointer-events: auto;
}

.banner-panel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #11253d;
}

#banner {
    margin-top: 10px;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 12px;
    float: right;
    margin-top: -6px;
    margin-right: -6px;
    padding: 4px 6px 4px 6px;
}

.legend.interactive:hover::before {
    content: "Find Next ▼";
    color: white;
}

.legend * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 6px;
}

.legend .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.legend>div {
    scroll-margin-top: 166px;
}

.legend>.undocumented>.dot {
    background-color: #86e4ff;
}

.legend>.ptr-to-live>.dot {
    background-color: #ff9900;
}

.panel-body .undocumented {
    color: #86e4ff;
}

.panel-body .ptr-to-live {
    color: #ff9900;
}

.panel-body .category-title {
    color: #ef37ff;
}

.panel-body .section-title {
    color: #0099ff;
}

.warning,
footer {
    font-size: 14px;
    text-align: center;
}

footer {
    color: #6b8299;
}

.warning.checkbox {
    padding-top: 8px;
    padding-bottom: 16px;
    color: #ff9900;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th .sort-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    opacity: 0.6;
}

#toast {
  visibility: hidden;
  min-width: 180px;
  margin-left: -125px;
  background-color: lightblue;
  color: #000000;
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.fixed {
    position: fixed;
    z-index: 1;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
}

.fixed,
.sticky {
    border-bottom: #2f465d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    top: 0px;
    width: 100%;
    background-color: #11253d;
}

.guide-card {
    display: flex;
    align-items: center;
    gap: 5px;
    width: max-content;
}

.partner-logo {
    width: 42px;
}

.partner-link {
    color: #78dcff;
    text-decoration: none;
}

.guide-card:hover>.partner-link {
    color: #0090ff;
}

.svg {
    filter: invert(80%) sepia(8%) saturate(7468%) hue-rotate(175deg) brightness(108%) contrast(107%); /* Change SVG from black to #78dcff */
}

.svg.disabled {
    filter: invert(24%) sepia(22%) saturate(917%) hue-rotate(169deg) brightness(94%) contrast(91%); /* Change SVG from black to #2f465d */
}

.permalink>.svg {
    width: 20px;
}

.guide-card:hover>.svg,
.svg.hover:hover {
    filter: invert(35%) sepia(96%) saturate(2181%) hue-rotate(189deg) brightness(105%) contrast(105%); /* Change SVG from black to #0090ff */
}

.toggle-button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.patch {
    display: none;
    padding: 10px;
    margin: 5px 0;
    background: #f0f0f0;
    border-radius: 6px;
}

#patch-dropdown {
    position: absolute;
    right: calc(24px * 2 + 30px);
    bottom: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    cursor: pointer;
    color: #4f636a;
    background:  lightblue;
    border: 2px solid #0090ff;
    padding: 8px 12px;
    width: 110px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    color: black;
    background: lightblue;
    border: 2px solid #0090ff;
    padding: 8px;
    min-width: calc(110px + 8px);
    z-index: 10;
    margin-top: 5px;
}

.dropdown-cursor {
    padding-left: 9px;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown-content label {
    display: block;
    margin: 4px 0;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: #ff4d4d;
}

input[type="checkbox"]::before {
    content: "✗";
}

input[type="checkbox"]:checked {
    background: #0090ff;
}

input[type="checkbox"]:checked::before {
    content: "✓";
}

@media only screen and (max-width: 780px) {
    .guide-card {
        display: none;
    }
}

@media only screen and (max-width: 820px) {
    #patch-dropdown {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #BattlegroundsTable td:nth-of-type(3) {
        display: none;
    }

    #BattlegroundsTable tr:not(:first-of-type) td:nth-of-type(4) {
        display: none;
    }

    #HeroesTable td:nth-of-type(4) {
        display: none;
    }

    #HeroesTable tr:not(:first-of-type) td:nth-of-type(5) {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.table-condensed,
.table-condensed td,
.table-condensed th:first-child
{
    border-collapse: collapse;
    border: #2f465d;
    border-style: solid;
    border-width: 2px;
}

.table-condensed {
    margin: 0px auto;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1000px;
}

.table-condensed th {
    color:white;
    background-color: #3480af;
    padding-left: 5px;
    height: 30px;
    text-transform: capitalize;
}

.table-condensed td {
    text-align: center;
    background-color: #1d334c;
    padding-left:2px;
    padding-right:2px;
    height: 30px;
}

.table-condensed td .text-highlight {
    color: #0090ff;
}
